.checkout-btn{
    width:50%;
    margin:auto;
    text-align:center;
    display:block;
    padding:6px 10px;
    border-radius:20px;
    background-image: linear-gradient(to right,#1c7366,#73a338);
    color:white;
    font-weight:bold;
}

.product-cart{
    display:flex;
    margin:10px 10px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd

}

.product-item-desc{
    width:100%;
    margin-left:20px;
}

.product-item-desc > h2 {
    color:#424242;
    font-size:15px;
}

.product-item-desc > P{
    color:#22776b;
}



.product-actions{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.product-actions p{
    border:1px solid #1c7c5f;
    border-radius:20px;
}
.product-actions p .item-qty{
    display:inline-block;
    text-align:center;
    width:40px;
    padding:5px;
    border-left:1px solid #599d95;
    border-right:1px solid #599d95;
}

.product-actions p button{
    background:none;
    border:none;
    padding:5px 12px;
    text-align:center;
}


.add-fav span{
     margin-left:15px;
     font-size:15px;
     cursor:pointer;
}

.add-fav span:first-child{
    color:#cb3c3e;
}

.add-fav span:last-child{
    color:#1c7c5f
}

.order-details{
    margin:0 80px;
}

.total-flex{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.order-total{
    font-size:25px;
}
.total-grow{
    font-size:25px;
}
